/* Fonts */
body{
  font-family: 'Inter', sans-serif;
  margin: 0;
}
h2{
  font-size: 45px;
}
/* Frist section */
.photo-container{
  color: white;
  text-align: center;
  padding: 5% 10% 5% 5%;
  border: 1px solid whitesmoke;
  margin: 10px 20% 5% 20%;background-image: url(images/donation13.jpg);
}
/* Donate Today Section */
.dollar{
  width: 10%;
  color: gray;
  font-weight: 700;
  background-color: rgba(236, 176, 176, 0.848);
  border: 3px solid lightsalmon;
  margin-left: 20px;
  padding: 15px 10px;
  border-radius: 5px;

}
/* Donation plan Section*/
.donation-plan{
  text-align: center;
  padding: 2px 5px 10px 2px;
  border: 1px solid whitesmoke;
  margin: 10px 20% 10px 20%;

}

.container-box{
 display: flex;
 flex-direction: row;
 margin: 15px 5% 5% 5px;
}
.box-one{
  width: 33%;
  background-color: rgba(79, 157, 166, 0.1);;
  margin-left: 5%;
  border-radius: 10px;
  padding: 15px;

}
.box-two{
  width: 33%;
  background-color: rgba(255, 89, 89, 0.1);
  margin-left: 5%;
  border-radius: 10px;
  padding: 15px;
}
.box-three{
  width: 33%;
  background-color: rgb(225, 234, 244);
  margin-left: 5%;
  border-radius: 10px;
  padding: 15px;
}
/* Donation-blog  Section*/
.container{
  display: flex;
  margin: 10px 10px 20px 30px;
}
.half-width{
  width: 50%;
  padding: 20px 20px 20px 10px;
}
.half-width img{
  width: 80%;
  border-radius: 15px;
}
.ancor-button{
  text-decoration: none;
  background-image: linear-gradient(45deg, #FF5959, tomato);
  padding: 10px 40px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}
/* Update Section */
.updates-container{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 2px 5px 40px 2px;
 border: 1px solid whitesmoke;
 border-radius: 15px;
 margin: 10px 20% 10px 20%;
}

/* submit-container */
.submit-container{
  text-align: center;
  padding: 4%;
  border-radius: 5px;
  background-color: #FFF4D6;
  margin: 15px 17% 25px 17%;
}

.submit-container input{
background-color:  #dedbdb;
padding: 5px 20px;
}
.submit-container button{
  border: 0;
  padding: 8px 15px;
  background-image: linear-gradient(20deg,#FF5959, tomato );
  color: white;
  font-weight: 500;
}
/* footer section */
footer{
  color: #dedbdb;
  background-color: #0B0D17;
  text-align: center;
  padding: 10px ;
}
footer h3{
  color: #FF5959;
  font-family: cursive;
  font-size: 25px;
  margin-bottom: 0;
}